---
import { base } from 'components/shared/Button/button'

interface ButtonProp {
  id?: string
  className: string
  type: 'submit' | 'button' | 'reset' | null | undefined
  disabled?: boolean
}

const { id, className, type, disabled } = Astro.props as ButtonProp
---

<button id={id} class={`${base} ${className}`} type={type} disabled={disabled}>
  <slot />
</button>
shared/Button/button
