---
import type { NavProp } from 'types/type.ts'

const pathname = Astro.url.pathname

const { navs } = Astro.props as NavProp
---

<ul
  id="navigation"
  class="max-[992px]:bg-light dark:max-[992px]:bg-dark relative flex w-full list-none items-center justify-end gap-x-10 max-[992px]:invisible max-[992px]:fixed max-[992px]:top-0 max-[992px]:left-0 max-[992px]:h-full max-[992px]:w-full max-[992px]:flex-col max-[992px]:justify-center max-[992px]:gap-y-4 max-[992px]:text-center max-[992px]:opacity-0 max-[992px]:transition-all max-[992px]:delay-150 max-[992px]:duration-300 max-[992px]:ease-out lg:bg-transparent"
>
  {
    navs
      .sort((a, b) => a.data.id - b.data.id)
      .map(({ data }) => (
        <li>
          <a
            class={`${pathname === data.link ? 'text-teal' : 'text-dark dark:text-light'} font-main links nav__link text-sm uppercase max-[992px]:text-2xl max-[992px]:font-bold max-[992px]:focus:outline-none lg:font-semibold`}
            id={data.slugs}
            href={data.link}
          >
            {data.title}
          </a>
        </li>
      ))
  }
</ul>

<script>
  const hamburger = document.getElementById('hamburger') as HTMLButtonElement
  const navigation = document.getElementById('navigation') as HTMLButtonElement
  const icons = document.querySelectorAll('.icon') as NodeListOf<Element>
  const sections = document.querySelectorAll('section[id]')
  const navLinks = document.querySelectorAll('.nav__link')
  const footerLinks = document.querySelectorAll('.footer__link')

  hamburger.addEventListener('click', () => {
    icons.forEach((icon) => {
      if (icon.classList.contains('hidden')) {
        navigation.classList.replace(
          'max-[992px]:opacity-0',
          'max-[992px]:opacity-100'
        )

        navigation.classList.replace(
          'max-[992px]:invisible',
          'max-[992px]:visible'
        )

        icon.classList.remove('hidden')
      } else {
        navigation.classList.replace(
          'max-[992px]:visible',
          'max-[992px]:invisible'
        )

        icon.classList.add('hidden')
      }
    })
  })

  function setActiveLink(id: string | undefined) {
    navLinks.forEach((link) => {
      link.classList.remove('active-link')
      if (link.getAttribute('href') === `#${id}`) {
        link.classList.add('active-link')
      }
    })

    footerLinks.forEach((link) => {
      link.classList.remove('active-link')
      if (link.getAttribute('href') === `#${id}`) {
        link.classList.add('active-link')
      }
    })
  }

  window.addEventListener('scroll', () => {
    let current: string | null = ''

    sections.forEach((section) => {
      const sectionTop = (section as HTMLElement).offsetTop

      if (pageYOffset >= sectionTop - 60) {
        current = section.getAttribute('id')
      }
    })

    setActiveLink(current)
  })

  function smoothScroll(element: Element) {
    element.scrollIntoView({
      behavior: 'smooth',
      block: 'start',
      inline: 'nearest'
    })
  }

  function elementNavigation(links: NodeListOf<Element> | null) {
    links?.forEach((link, id) => {
      link.addEventListener('click', (e) => {
        e.preventDefault()

        const targetId: string | undefined = link
          ?.getAttribute('href')
          ?.substring(1)

        setTimeout(() => {
          smoothScroll(sections[id])
        }, 100)

        setActiveLink(targetId)
      })
    })
  }

  elementNavigation(navLinks)
  elementNavigation(footerLinks)
</script>
