---
import { Image as Images } from 'astro:assets'

type ImageProp = {
  class: string
  src: string
  fallbackImg: string
  alt: string
  width: number
  height: number
  loading: 'eager' | 'lazy'
}

const {
  class: className,
  src,
  fallbackImg,
  alt,
  width,
  height,
  loading
} = Astro.props as ImageProp

const handleError = (currentTarget: EventTarget & HTMLImageElement) => {
  currentTarget.onerror = null // prevents looping
  currentTarget.src = fallbackImg
}
---

<div class="animate-fade">
  <Images
    class={className}
    src={src}
    alt={alt}
    width={width}
    height={height}
    format="webp"
    quality={80}
    loading={loading}
    onError={({ currentTarget }: { currentTarget: any }) =>
      handleError(currentTarget)}
  />
</div>
