---
import { Image as Images } from 'astro:assets'

interface AstroProp {
  class: string
  src: string
  alt: string
  width: number
  height: number
  loading: 'eager' | 'lazy'
}

const {
  class: className,
  src,
  alt,
  width,
  height,
  loading
} = Astro.props as AstroProp
---

<div class="animate-fade">
  <Images
    class={className}
    src={src}
    alt={alt}
    width={width}
    height={height}
    format="webp"
    quality={80}
    loading={loading}
  />
</div>
