---
import { getCollection } from 'astro:content'

import Image from 'shared/Image.astro'

interface AstroProps {
  show: boolean
  direction: string
}

const { show, direction } = Astro.props as AstroProps
const socials = await getCollection('socials')
---

<div
  class={`
  ${show ? `invert-0` : `invert dark:invert-0`}
  ${direction} w-fit flexbetween gap-4 transition-all delay-150 ease-out`}
>
  {
    socials.map(({ data }) => (
      <a
        class="w-[2.5rem] h-[2.5rem]"
        href={data.link}
        title={data.title}
        target="_blank"
      >
        <Image
          src={data.image.src}
          alt={data.image.alt}
          width={data.image.width}
          height={data.image.height}
          loading="eager"
        />
      </a>
    ))
  }
</div>
