---
import { getCollection } from 'astro:content'

import Image from 'components/shared/Image.astro'

interface AstroProp {
  show: boolean
  direction: 'flex-row' | 'flex-col'
}

const { show, direction } = Astro.props as AstroProp

const socials = await getCollection('socials')
---

<div
  class={`${show ? `invert-0` : `invert dark:invert-0`} ${direction} w-fit flex justify-between items-center gap-3`}
>
  {
    socials.map(({ data }) => (
      <a
        class="w-6 h-6 opacity-70 hover:opacity-100 transition-all delay-150 ease-out"
        href={data.link}
        title={data.title}
        target="_blank"
      >
        <Image
          src={data.image.src}
          alt={data.image.alt}
          width={data.image.width}
          height={data.image.height}
          loading="eager"
        />
      </a>
    ))
  }
</div>
