---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Socials from 'components/shared/Socials.astro'
import Tools from 'components/shared/Tools.astro'
import Image from 'components/shared/Image.astro'

const bio = await getCollection('bio')
const { slugs, title, description, image } = bio[0].data
---

<section class="grid [&>*]:grid-stack" id={slugs}>
  <AnimationFadeIn>
    <Image
      class="w-full aspect-auto object-cover dark:invert sm:object-fill sm:aspect-[4/8] xl:aspect-[18/4]"
      src={image.src}
      alt={image.alt}
      width={image.width}
      height={image.height}
      loading="lazy"
    />
  </AnimationFadeIn>

  <AnimationFadeIn>
    <div class="relative z-[1] wrapper">
      <div class="grid grid-cols-2 gap-20 sm:grid-cols-2 sm:gap-40">
        <div>
          <h2>{title}</h2>
          <p class="w-full mt-6 mb-12 text-lg leading-[1.75] sm:w-4/5">
            {description}
          </p>

          <Socials direction="flex-row" show />
        </div>

        <Tools />
      </div>
    </div>
  </AnimationFadeIn>
</section>
