---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Link from 'components/shared/Button/Link.astro'
import {
  colors,
  positions,
  sizes,
  space
} from 'components/shared/Button/button'

const error = await getCollection('error')
---

<section class="h-[95dvh] sm:-my-12" id={error[0].data.slugs}>
  <div class="wrapper flex h-full items-center justify-center text-center">
    <AnimationFadeIn>
      <h1 class="max-w-sm text-9xl">
        {error[0].data.title}
      </h1>

      <p class="mx-auto mt-4 max-w-[27rem] text-xl">
        {error[0].data.subtitle}
      </p>

      <Link
        class={`mt-10 ${colors.primary} ${sizes.small} ${positions.center} ${space.small}`}
        href={error[0].data.link}
      >
        {error[0].data.text}
      </Link>
    </AnimationFadeIn>
  </div>
</section>
