---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Anchor from 'components/shared/Button/Anchor.astro'
import {
  colors,
  positions,
  sizes,
  space
} from 'components/shared/Button/button'

const error = await getCollection('error')
---

<section class="sm:-my-12 h-[95dvh]" id={error[0].data.slugs}>
  <div class="wrapper h-full flex text-center justify-center items-center">
    <AnimationFadeIn className="text-light dark:text-dark">
      <h1 class="max-w-sm text-9xl text-light dark:text-dark">
        {error[0].data.title}
      </h1>

      <p class="mt-4 max-w-[27rem] mx-auto text-xl dark:text-dark">
        {error[0].data.subtitle}
      </p>

      <Anchor
        className={`mt-10 ${colors.primary} ${sizes.small} ${positions.center} ${space.small}`}
        href={error[0].data.link}
      >
        {error[0].data.text}
      </Anchor>
    </AnimationFadeIn>
  </div>
</section>
