---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Image from 'components/shared/Image.astro'
import IView from 'components/shared/Icons/IView.astro'
import DateFormat from 'components/shared/DateFormat.astro'

import { projectFormat } from 'lib/projectFormat'

const [project, projects] = await Promise.all([
  getCollection('project'),
  getCollection('projects')
])

const formattedProjects = projectFormat({ projects })
---

<section id={project[0].data.slugs}>
  <div class="wrapper">
    <AnimationFadeIn>
      <div class="text-center">
        <h2 class="text-7xl">{project[0].data.title}</h2>
        <p class="mx-auto mt-2 max-w-xs text-lg sm:text-xl">
          {project[0].data.subtitle}
        </p>
      </div>
    </AnimationFadeIn>

    <div class="mt-20 grid grid-cols-1 gap-16 sm:grid-cols-2 xl:gap-24">
      {
        formattedProjects?.map(({ data }) => (
          <AnimationFadeIn>
            <div class="flex flex-col gap-4">
              <div class="flex items-center justify-between gap-12">
                <h3 class="text-sm">{data.subtitle}</h3>
                <p class="text-sm">
                  <DateFormat date={data.date} />
                </p>
              </div>

              <a
                class="[&>*]:grid-stack group grid rounded-md shadow-sm transition-shadow delay-150 ease-out hover:shadow-lg"
                href={data.link}
                target="_blank"
                rel="prefetch"
              >
                <IView
                  class="invisible relative top-5 right-5 z-[1] ml-auto transition-all delay-200 ease-in group-hover:visible"
                  link={data.link}
                />

                <Image
                  class="aspect-auto w-full rounded-md object-cover opacity-90 transition-all delay-200 ease-in group-hover:opacity-100"
                  src={data.image.src}
                  fallbackImg="/images/placeholder.webp"
                  alt={data.image.alt}
                  width={data.image.width}
                  height={data.image.height}
                  loading="lazy"
                />
              </a>

              <div>
                <h3 class="text-xl">{data.title}</h3>
                <p class="mt-2 text-base">{data.description}</p>
              </div>

              <div class="mt-4 flex flex-row flex-wrap items-center gap-x-3 [&>p:last-child>span]:hidden">
                {data.techs.map((tech) => (
                  <p class="mt-1 text-left text-xs tracking-wide uppercase lg:text-sm">
                    {tech}
                    <span class="ml-1.5 inline-block opacity-70">|</span>
                  </p>
                ))}
              </div>
            </div>
          </AnimationFadeIn>
        ))
      }
    </div>
  </div>
</section>
