---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'shared/AnimationFadeIn.astro'
import Image from 'shared/Image.astro'
import IView from 'shared/Icons/IView'

const project = await getCollection('project')
const { slugs, title, subtitle } = project[0].data

const projects = await getCollection('projects')
---

<section class="pt-20 pb-28 section smx:pb-20" id={slugs}>
  <div class="wrapper">
    <AnimationFadeIn>
      <div class="mb-16 text-center">
        <h2 class="mb-2">{title}</h2>
        <p class="max-w-[30rem] mx-auto text-2xl xsx:text-[1.9rem]">
          {subtitle}
        </p>
      </div>
    </AnimationFadeIn>

    <div class="grid-2 gap-40 smx:grid-1 smx:gap-20">
      {
        projects
          .sort((a, b) => +b.data.date - +a.data.date)
          .map(({ data }) => (
            <AnimationFadeIn>
              <div class="flex flex-col gap-6">
                <a
                  class="grid [&>*]:grid-stack shadow-md rounded-md"
                  href={data.link}
                  target="_blank"
                  rel="prefetch"
                >
                  <Image
                    class="w-full aspect-auto object-cover rounded-md opacity-80 hover:opacity-95 trasition-all delay-200 ease-in"
                    src={data.image.src}
                    alt={data.image.alt}
                    width={data.image.width}
                    height={data.image.height}
                    loading="lazy"
                  />
                </a>

                <div class="flex flex-col gap-10">
                  <div class="flex justify-between items-end gap-24">
                    <div>
                      <h3 class="font-normal">{data.title}</h3>
                      <p>{data.date}</p>
                    </div>

                    <a
                      class="w-[1.5rem] mb-2"
                      href={data.link}
                      target="_blank"
                      rel="prefetch"
                    >
                      <IView link={data.link} />
                    </a>
                  </div>

                  <div>
                    <h3 class="mb-2 text-2xl font-normal">{data.subtitle}</h3>
                    <p class="max-w-[90%] text-opacity-80 dark:text-opacity-70">
                      {data.description}
                    </p>
                  </div>

                  <div>
                    <h3 class="mb-3 text-2xl font-normal">Tools</h3>

                    <div class="flex flex-wrap items-center gap-4">
                      {data.techs.map((tech) => (
                        <button class="py-3 px-6 bg-white/60 dark:bg-black/60 bg-opacity-90 text-black/80 dark:text-white rounded-sm text-sm font-main font-semibold uppercase cursor-default smx:px-4 2xsx:text-xs">
                          {tech}
                        </button>
                      ))}
                    </div>
                  </div>
                </div>
              </div>
            </AnimationFadeIn>
          ))
      }
    </div>
  </div>
</section>
