---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Image from 'components/shared/Image.astro'
import IView from 'components/shared/Icons/IView.astro'

const [project, projects] = await Promise.all([
  getCollection('project'),
  getCollection('projects')
])
---

<section id={project[0].data.slugs}>
  <div class="wrapper">
    <AnimationFadeIn>
      <div class="text-center text-light dark:text-dark">
        <h2 class="text-6xl">{project[0].data.title}</h2>
        <p class="mt-2 max-w-[11.5rem] mx-auto text-lg opacity-70">
          {project[0].data.subtitle}
        </p>
      </div>
    </AnimationFadeIn>

    <div class="mt-16 grid grid-cols-1 gap-16 sm:grid-cols-2 xl:gap-24">
      {
        projects
          .sort((a, b) => +b.data.date - +a.data.date)
          .map(({ data }) => (
            <AnimationFadeIn>
              <div class="grid grid-cols-1 gap-4 lg:gap-2 lg:grid-cols-[6rem_auto]">
                <div class="flex flex-row flex-wrap gap-2 lg:flex-col">
                  {data.techs.map((tech) => (
                    <p class="text-light dark:text-dark text-xs text-left font-normal uppercase tracking-wide lg:text-sm">
                      {tech}
                    </p>
                  ))}
                </div>

                <div class="flex flex-col gap-4">
                  <a
                    class="grid [&>*]:grid-stack shadow-md rounded-md group"
                    href={data.link}
                    target="_blank"
                    rel="prefetch"
                  >
                    <IView
                      className="ml-auto relative top-5 right-5 z-[1] invisible transition-all delay-200 ease-in group-hover:visible"
                      link={data.link}
                    />

                    <Image
                      class="w-full aspect-auto object-cover rounded-md opacity-80 group-hover:opacity-100 transition-all delay-200 ease-in"
                      src={data.image.src}
                      alt={data.image.alt}
                      width={data.image.width}
                      height={data.image.height}
                      loading="lazy"
                    />
                  </a>

                  <div class="flex flex-col gap-3 text-light dark:text-dark">
                    <div class="flex gap-12 justify-between items-center">
                      <h3 class="text-base font-normal">{data.subtitle}</h3>
                      <p class="text-sm opacity-90">{data.date}</p>
                    </div>

                    <div>
                      <h3 class="text-xl">{data.title}</h3>
                      <p class="mt-1 text-sm font-normal tracking-wide opacity-70">
                        {data.description}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </AnimationFadeIn>
          ))
      }
    </div>
  </div>
</section>
