---
import { getCollection } from 'astro:content'

import Link from 'components/shared/Button/Link.astro'
import {
  colors,
  positions,
  sizes,
  space
} from 'components/shared/Button/button.tsx'

import { projectFormat } from 'lib/projectFormat'
import { CarouselHero } from './CarouselHero'

const [project, projects] = await Promise.all([
  getCollection('project'),
  getCollection('projects')
])

const formattedProjects = projectFormat({ projects, limit: 5 })
---

<div class="wrapper">
  <div class="translate-y-[-7.5rem]" id={project[0].data.slugs}></div>

  <CarouselHero client:load formattedProjects={formattedProjects} />

  <Link
    class={`mt-12 font-normal ${colors.primary} ${positions.center} ${sizes.small} ${space.small}`}
    href={project[0].data.link}
  >
    {project[0].data.text}
  </Link>
</div>
