---
import { getCollection } from 'astro:content'

import { base, sizes, space } from 'components/shared/Button/button'

const tools = await getCollection('tools')
---

<div class="flex flex-col gap-8">
  {
    tools
      .sort((a, b) => a.data.id - b.data.id)
      .map(({ data }) => (
        <div class="flex flex-col items-center justify-center gap-4 text-center">
          <h3 class="text-light dark:text-dark text-2xl font-normal">
            {data.title}
          </h3>

          <div class="flex flex-wrap items-center justify-center gap-2">
            {data.tools.map((tool) => (
              <button
                class={`${base} ${space.small} ${sizes.small} bg-light/60 dark:bg-dark/60 bg-opacity-90 text-dark/80 dark:text-light font-main cursor-default font-semibold uppercase dark:font-normal`}
              >
                {tool}
              </button>
            ))}
          </div>
        </div>
      ))
  }
</div>
