---
import { getCollection } from 'astro:content'

import ILogo from 'components/shared/Icons/ILogo.astro'
import Socials from 'components/shared/Socials.astro'
import Top from 'components/shared/Top.astro'
import { DarkMode } from 'components/shared/DarkMode.tsx'

const [footer, navs] = await Promise.all([
  getCollection('footer'),
  getCollection('nav')
])

const pathname = Astro.url.pathname
---

<footer class="mt-10 pb-8" id={footer[0].data.slugs}>
  <div class="wrapper">
    <div class="pb-20">
      <div class="flex flex-col items-center justify-center gap-12 text-center">
        <div class="flex flex-col items-center">
          <div class="flex items-center gap-1">
            <span class="invert dark:invert-0">
              <ILogo strokeColor="#000" />
            </span>

            <span class="font-main text-2xl font-semibold uppercase">
              {footer[0].data.title}
            </span>
          </div>

          <p
            class="max-w-lg text-base leading-relaxed opacity-70 dark:font-light"
          >
            {footer[0].data.description}
          </p>
        </div>

        <ul class="flex gap-4">
          {
            navs
              .sort((a, b) => a.data.id - b.data.id)
              .map(({ data }) => (
                <li>
                  <a
                    class={`${pathname === data.link ? 'text-teal' : 'dark:text-light text-black'} font-main dark:text-dark text-sm font-normal uppercase`}
                    href={data.link}
                  >
                    {data.title}
                  </a>
                </li>
              ))
          }
        </ul>

        <div class="flex items-center gap-3">
          <Socials direction="flex-row" show />

          <DarkMode client:load />
        </div>
      </div>
    </div>

    <div class="target relative z-[2] flex w-fit gap-1 text-xs">
      <p class="font-main text-dark/70 dark:text-light">
        <span class="font-main">{footer[0].data.copy}</span>
        {`© ${new Date().getFullYear()}.  Made by`}
      </p>

      <a
        class="ease-out` text-xs text-red-400 transition delay-150 hover:text-red-500"
        href={footer[0].data.link}
        rel="noreferrer"
        target="_blank"
      >
        Codezen
      </a>
    </div>

    <Top />
  </div>
</footer>
